Django==5.0
dj-database-url==2.1.0
whitenoise[brotli]==6.6.0
gunicorn==21.2.0
uvicorn==0.27.0
psycopg2-binary==2.9.9
pillow==10.2.0  # For image handling
python-dotenv==1.0.0  # For environment variables